<nav class="navbar navbar-inverse" style="background-color: #0D1B2A;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="untammed" style="color: white;"><b>Untammed</b></a>

        </div>
        <div class="col-sm-2 col-md-1 navbar-right">
            <img src="./assets/avatar-50.png" height="40px"  alt="">
            <a class="navbar-brand" routerLink="Login" style="color: white;"><b>login</b></a>
        </div>
        
    </div>
</nav>
