<nav class="navbar navbar-inverse" style="background-color: #0D1B2A;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="Untammed" style="color: white;"><b>Untammed</b></a>
            <a class="navbar-brand" routerLink="Login" style="color: white;"><b>Login</b></a>
            
        </div>
        <div class="col-sm-4 col-md-2 navbar-right">
            <img src="./assets/avatar-50.png" alt="">
        </div>
    </div>
</nav>
