.login {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url('../../assets/background.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Nunito', sans-serif;
    max-width: 1440px;
    height: 100vh;
    margin-inline: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.login-form {
    background-color: #0d1b2a;
    width: 95%;
    max-width: 400px;
    margin-inline: auto;
    border-radius: .3rem;
}

.login-form input {
    background-color: #0d1b2a;
    width: 100%;
    padding: .5rem .2rem;
    margin-block: .2rem;
    border-radius: .2rem;
    border: 2px solid #94999e;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    color: hsl(200, 1%, 90%);
}

.login-form input:focus {
    outline: none;
    border: 2px solid #c77dff;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.login-form-title {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.3))), url('../../assets/background.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    text-align: center;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
}

.login-form-username {
    margin-top: 1rem;
}

.login-form-username,
.login-form-password,
.login-form-submit {
    padding: 0 1rem;
}

.login-form-submit {
    margin-top: .5rem;
}

.login-form-submit button {
    padding: .5rem 0;
    color: white;
    width: 100%;
    background-color: #c77dff;
    border: 1px solid #c77dff;
    border-radius: .2rem;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.login-form-submit button:hover {
    background-color: hsl(274, 100%, 80%);
    border: 1px solid hsl(274, 100%, 80%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.login-form-signup {
    padding: 1rem;
    text-align: center;
    font-size: .5rem;
    color: white;
}

.login-form-signup a {
    color: #c77dff;
}

