
<section class="login">
    <form action="" class="login-form" method="post">
        <div class="login-form-title">
            <h1>Sign In</h1>
        </div>
        <div class="login-form-username">
            <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div class="login-form-password">
            <input type="password" name="password" id="password" placeholder="password">
        </div>
        <div class="login-form-submit">
            <button type="submit">Sign In</button>
        </div>
        <div class="login-form-signup">
           <h6>Not a member? <a href="register">Sign up</a></h6>
        </div>
    </form>
</section>
