
<div class="body">
    <section class="single">
        <article class="single-container">
            <div class="single-title">
                <h1>Punky Reggae Party</h1>
            </div>
            <div class="single-image">
                <img src="../assets/background.jpg" alt="">
            </div>
            <div class="single-details">
                <div class="single-details-theme">
                    <h3>Theme: Reggae Night</h3>
                </div>
                <div class="single-details-description">
                    <p>Babylon is everywhere. You have wrong and you have right. Wrong is what we call Babylon, wrong things. That is what Babylon is to me. I could have been born in England, I could have been born in America, it make no difference where me born, because there is Babylon everywhere.</p>
                </div>
            </div>
            <div class="single-extra">
                <div class="single-extra-drinks">
                    <div class="single-extra-drinks-image">
                        <img src="../assets/liquor(1).png" alt="">
                    </div>
                    <div class="single-extra-drinks-list">
                        <p>Jack Daniels, Singleton,Hennesy</p>
                    </div>
                </div>
                <div class="single-extra-games">
                    <div class="single-extra-games-image">
                        <img src="../assets/beer-pong.png" alt="">
                    </div>
                    <div class="single-extra-games-list">
                        <p>Beer pong, Table Tennis</p>
                    </div>
                </div>
            </div>
            <div class="single-times">
                <div class="single-times-location">
                    <div class="single-times-location-image">
                        <img src="../assets/placeholder(2).png" alt="">
                    </div>
                    <div class="single-times-location-name">
                        <p>Tsavo lifestyle-Roysambu</p>
                    </div>
                </div>
                <div class="single-times-date">
                    <div class="single-times-date-image">
                        <img src="../assets/calendar(2).png" alt="">
                    </div>
                    <div class="single-times-date-name">
                        <p>3rd sept 2022</p>
                    </div>
                </div>
                <div class="single-times-time">
                    <div class="single-times-time-image">
                        <img src="../assets/clock(1).png" alt="">
                    </div>
                    <div class="single-times-time-name">
                        <p>8:20pm till late</p>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>

