<div class="land">
    <h1>FUNKY REGGEA PARTY</h1>
</div>
<div class="landing">
</div>
<div class="container about" id="about-us-page">

    <p>
        Theme Reggae Night
    </p>

    <p></p>Babylon is everywhere. You have wrong and you have right. Wrong is what we call Babylon, wrong things. That is what Babylon is to me. I could have born in England, I could have born in America, it make no difference where me born, because there
    is Babylon everywhere. </p>

    <p>(Bob Marley)</p>
</div>

</div>
</div>

<div class="portfolio">
    <h2>Games n Drinks</h2>

    <div class="container">

        <div class="column">
            <img src="https://images.unsplash.com/photo-1615553186013-06b13fe822e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNsdWIlMjBkcmlua3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" height="200" width="200" style="float: left;">
        </div>

        <div class="column">
            <img src="https://images.unsplash.com/photo-1536818968680-deeec2e9fd11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNsdWIlMjBnYW1lc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" height="200" width="200" style="float: left;">
        </div>

        <div class="col-md-3 " id="work5 ">
            <img src="https://images.unsplash.com/photo-1592821399029-4c6dd39244e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8amFjayUyMGRhbmllbHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60 " height="200" width="200" style="float: left;">
        </div>

        <div class="col-md-3 " id="work6 ">
            <img src="https://images.unsplash.com/photo-1633976028232-38008cedf8e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHBpbmclMjBwb25nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60 " height="200" width="200" style="float: left;">
        </div>
    </div>
</div>
</div>
</div>

</div>
<script type="text/javascript " src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js "></script>
<script type="text/javascript ">
    (function($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[1] = "FNAME ";
        ftypes[1] = "text ";
        fnames[2] = "LNAME ";
        ftypes[2] = "text ";
        fnames[0] = "EMAIL ";
        ftypes[0] = "email ";
        fnames[6] = "MMERGE6 ";
        ftypes[6] = "text ";
        fnames[3] = "ADDRESS ";
        ftypes[3] = "address ";
        fnames[4] = "PHONE ";
        ftypes[4] = "phone ";
        fnames[5] = "BIRTHDAY ";
        ftypes[5] = "birthday ";
    })(jQuery);
    var $mcj = jQuery.noConflict(true);
</script>
<script src="https://code.jquery.com/jquery-3.6.0.js " integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin=" anonymous "></script>
<script src="assets/JS/index.js "></script>
</body>

</html>